MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=smart_office
MYSQL_HOST_PORT=3306
REDIS_HOST_PORT=6379
NACOS_HOST_PORT=8848
NACOS_GRPC_HOST_PORT=9848
RABBITMQ_DEFAULT_USER=smartoffice
RABBITMQ_DEFAULT_PASS=123456
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HOST_PORT=15672
ELASTICSEARCH_HTTP_PORT=9200
ELASTICSEARCH_TRANSPORT_PORT=9300
MINIO_ROOT_USER=smartoffice
MINIO_ROOT_PASSWORD=smartoffice123456
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
XXL_JOB_ADMIN_PORT=8088
XXL_JOB_ACCESS_TOKEN=smart-office
